@charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

@font-face {
    font-family: 'bonk';
    src: url(../font/Bonk\ Robbers.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "helvetica55roman";
    src: url("font/helvetica55roman.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor1: #f8aa16; 
    --cor2: #383838;
    --fonte1: "helvetica55roman";
} 
/* 
        Até aqui => Configuraçãoes gerais
*/

/*
        Segue CABEÇALHO
*/

body {
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
header {
    height: 500px;
    background-image: url("../img/fotoBANNER-600.png");
    
    background-repeat: no-repeat;
    background-position-x: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo1 {
    background-color: var(--cor1);
    padding: 20px 20px 25px 20px;
    border-radius: 0px 0px 15px 15px;
    width: 230px;
    margin: auto;
    margin-top: unset; 
    box-shadow: 1px 1px 5px; 
    opacity: 80%;
}
#logo1 > img {
    opacity: unset;

}
#cmd1 {
    display: flex;
    width: 275px;
    align-items: center;
    background: linear-gradient(to right, #2fdb35, #36ac1e);
    border-radius: 5px;
    margin-top: 20px;
}
#cmd1 > i {
    padding: 0px 8px 0px 14px;
    color: white;
    font-size: 1.8em;
}
#cmd1 > p {
    color:#fff;
}
#clique {
    margin-bottom:30px;
}
#clique > a {
    background-color: var(--cor1);
}
#clique > a > button {
    border-radius: 25px;
    background: var(--cor1);
    background: linear-gradient(to left, #fa8e01, #f8aa16);
    cursor: pointer;
    box-shadow: 1px 1px 3px  #535353;
    border:0rem none;
    padding: .1rem 2rem;
    margin-top: -7px;
    color:#fff    
}
nav {
    display: inline-flex;
}
nav > p {
    color: #fff;
    margin: 10px;
}

.redes {
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}
.redes > a {
    text-decoration: none;
    color: #ffffff;
    opacity: 70%;
    transition: opacity .5s;
    margin: 5px;
}
.redes > a:hover {
    opacity: 100%;
}

/*
        Segue APRESENTAÇÃO DA EMPRESA
*/

#apresentaçao {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
    margin:auto;
    align-items: center;
    margin-bottom: 30px;
    
}
.publi {
    width: 95%;
    
}
.publi > h1 {
    color: var(--cor1);
   
}
.publi > ul {
    color: var(--cor2);
    text-align: left;
    line-height: 2em;
    font-weight: lighter;
    margin-left: 15%;
}

/*
        Segue PRODUTOS
*/

.produto {
    margin-bottom: 40px;
}

.empresa > h1 {
    color: var(--cor1);
}
.produto > h1 {
    padding: 15px 0px;
    background-color: var(--cor1);
}
#p1 > img {
    width: 90%;
    margin: auto;
}
.produto > h2 {
    font-weight: lighter;
    color:var(--cor1);
}

.infotecp {
    text-align: left;
    border-left: 2px solid var(--cor1);
    color: var(--cor2);
    font-style: italic;
    font-family: var(--fonte1) sans-serif;
    font-stretch: condensed;
    line-height: 25px;
    width:70%;
    margin: auto;
    font-size: .95em;
    font-weight: lighter;
}
#p2 > img {
    width: 100%;
    margin: auto;
}
#p3 > img {
    width: 95%;
    margin: auto;
}
#p4 > img {
    width: 90%;
    margin: auto;
}

/* 
        Segue SERVIÇO
*/

#serviço {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--cor1);
    border-radius: 3px; 
}
#serviço > h1 {
    font-size: 1.6em;
    font-weight: normal;
    width: 80%;
}
#serviço > p {
    width: 85%;

    font-weight:lighter;
}

/*
        Segue CONTATO
*/

#contato > h2 {
    color: var(--cor1);
}
#contato > p {
    color: var(--cor2);
}