@charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

@font-face {
    font-family: 'bonk';
    src: url(../font/Bonk\ Robbers.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "helvetica55roman";
    src: url("font/helvetica55roman.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor1: #f8aa16; 
    --cor2: #383838;
    --fonte1: "helvetica55roman";
} 
/* 
        Até aqui => Configuraçãoes gerais
*/

/*
        Segue CABEÇALHO
*/

body {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
header {
    background-image: url("../img/fotoBANNER-800.png");
    background-position: center;
}

#logo1 {
    background-color: var(--cor1);
    padding: 20px 20px 25px 20px;
    position: relative;
    right: 20%;
}
#logo1 img {
    width: 80%;
}
#cmd1{
    position: relative;
    right: 20%;
}

#clic {
    position: relative;
    right: 20%;
}
nav {
    position: relative;
    bottom: 70%;
    left: 34%;
    
}
.redes {
    position: relative;
    left: 40%;
}
#redesf {
    position: inherit;
    margin: auto;
    margin-right: 3%;
}
/*
        Segue APRESENTAÇÃO DA EMPRESA
*/

#apresentaçao {
    flex-direction: row;
    width: 85%;
    margin-top: 15px;
    align-items: baseline;
}
.publi h1 {
    text-align: left;
}
.publi > ul {
    line-height: 1.6em;
    border-left: 2px solid orange;
    padding-left: 10%;
}

/*
        Segue PRODUTOS
*/
#equipos {
    display: flex;
    flex-direction: column;
    /* align-content: flex-start; */
    
}
#equipos h1 {
    padding-left: 7%;
}
#p1 > h1 {
    width: 100vw;
    margin: auto;
    text-align: left;
}
    /*  
    Alinhados á esquerda!
    */

.tleft {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tleft h1 {
    font-size: 1.2em;
}
.tleft h2 {
    color: #fff;
    font-size: 1em;
    border-left: 2px solid #fff;
    font-weight: lighter;
    padding:0 5% 0 1%;
}

.contentp1 {
    display: flex;
    justify-content: space-between;
}
#imgp1 {
    width: 50%;
}
#infotecp1 {
    width: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 6%;
}
#infotecp3 {
    width: auto;
    margin-top: 10px;
    margin-left: 5%;

}
#infotecp3 li {
    font-size: .6em;
}
#infotecp1 li {
    font-size: .6em;
}
    /*
        Alinhados à direita
    */

.tright {
    background-color: var(--cor1);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.tright h1 {
    font-size: 1.2em;
    padding-right: 12%;
}
.tright h2 {
    color: #fff;
    font-size: 1em;
    border-left: 2px solid #fff;
    font-weight: lighter;
    padding:0 2% 0 1%;
    margin-left: 5%;
}
.contentp2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#imgp2 {
    width: 55%;
    padding-right: 3%;
}
#imgp3 {
    width: 51%;
    margin-right: 5%;
}
#imgp4 {
    width: 44%;
    margin-right: 5%;
}
#infotecp2 {
    width: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 3%;
}
#infotecp4 {
    width: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 3%;
}
#infotecp2 li {
    font-size: .6em;
}
#infotecp4 li {
    font-size: .6em;
}
/*
    CONTATO
*/

.contatos {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    width: 90%;
    margin: auto;
}
.contatos h2 {
    color: var(--cor1);
   
}
.contatos p {
    font-size: .8em;

}
.contatos div {
    width: 90%;
}

/*
   MEDIA QUERIES
*/

@media (min-width: 800px) {
    header {
        background-image: url("../img/fotoBANNER-1440.png");
        background-position: center;
    }
}