@charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

@font-face {
    font-family: 'bonk';
    src: url(../font/Bonk\ Robbers.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "helvetica55roman";
    src: url("font/helvetica55roman.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor1: #f8aa16; 
    --cor2: #383838;
    --fonte1: "helvetica55roman";
} 
/* 
        Até aqui => Configuraçãoes gerais
*/

/*
        Segue CABEÇALHO
*/

body {
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
header {
    background-image: url("../img/fotoBANNER-800.png");
    background-position: center;
}

#logo1 {
    background-color: var(--cor1);
    padding: 20px 20px 25px 20px;
    position: relative;
    right: 20%;
}
#logo1 img {
    width: 80%;
}
.cmd {
    position: relative;
    right: 20%;
}

.clique {
    position: relative;
    right: 20%;
}
nav {
    position: relative;
    bottom: 70%;
    left: 34%;
    
}
.redes {
    position: relative;
    left: 40%;
}
/*
        Segue APRESENTAÇÃO DA EMPRESA
*/

#apresentaçao {
    flex-direction: row;
    width: 85%;
    margin-top: 15px;
    align-items: baseline;
}
.publi h1 {
    text-align: left;
}
.publi > ul {
    line-height: 1.6em;
    border-left: 2px solid orange;
    padding-left: 10%;
}

/*
        Segue PRODUTOS
*/
#equipos {
    display: flex;
    flex-direction: column;
    /* align-content: flex-start; */
    align-items: flex-start;
}
#equipos h1 {
    padding-left: 7%;
}
#p1 > h1 {
    width: 100vw;
    margin: auto;
    text-align: left;
}
.tleft {
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tleft h1 {
    font-size: 1.2em;
}
.tleft h2 {
    color: #fff;
    font-size: 1em;
    border-left: 2px solid #fff;
    font-weight: lighter;
    padding:0 2% 0 1%;
}

.contentp1 {
    display: flex;
    justify-content: space-between;
}
#imgp1 {
    width: 50%;
}
#infotecp1 {
    width: auto;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 3%;
}
#infotecp1 li {
    font-size: .6em;
}