@charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

@font-face {
    font-family: 'bonk';
    src: url(../font/Bonk\ Robbers.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {font-family: "helvetica55roman";
    src: url("font/helvetica55roman.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --cor1: #f8aa16; 
    --cor2: #383838;
    --fonte1: "helvetica55roman";
} 
/* 
        Até aqui => Configuraçãoes gerais
*/

/*
        Segue CABEÇALHO
*/

body {
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
header {
    height: 500px;
    background-image: url("../img/fotoBANNER-600.png");
    
    background-repeat: no-repeat;
    background-position-x: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo1 {
    background-color: var(--cor1);
    padding: 20px 0px 25px 0px;
    border-radius: 0px 0px 15px 15px;
    width: 230px;
    margin: auto;
    margin-top: unset; 
    box-shadow: 1px 1px 5px; 
    opacity: 80%;
}
#logo1 img {
    opacity: unset;
    width: 65%;

}
.cmd {
    display: inline-flex;
    width: 250px;
    align-items: center;
    background: linear-gradient(to right, #2fdb35, #36ac1e);
    border-radius: 5px;
}
.cmd i {
    padding: 0px 8px 0px 14px;
    color: white;
    font-size: 1.8em;
}
.cmd p {
    color:#fff;
    font-size: .9em;
}
.clique {
    margin-bottom:30px;
}
.clique > a {
    background-color: var(--cor1);
}
.clique > a > button {
    border-radius: 25px;
    background: var(--cor1);
    background: linear-gradient(to left, #fa8e01, #f8aa16);
    cursor: pointer;
    box-shadow: 1px 1px 3px  #535353;
    border:0rem none;
    padding: .1rem 2rem;
    margin-top: -7px;
    color:#fff    
}
nav {
    display: inline-flex;
    
}

nav:hover {
    background-color: var(--cor1);
    opacity: 70%;
    border-radius: 7px;
    transition: .5s;
}
nav > p {
    color: #fff;
    margin: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.415);
}
nav p:hover {
    background-color: var(--cor1);
    opacity: 95%;
    font-weight: bolder;
    text-decoration: underline;
    transition: .5s;
}

.redes {
    display: inline-flex;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 30px;
}
.redes > a {
    text-decoration: none;
    color: #ffffff;
    opacity: 70%;
    transition: opacity .5s;
    margin: 5px;
}
.redes > a:hover {
    opacity: 100%;
}

/*
        Segue APRESENTAÇÃO DA EMPRESA
*/

#apresentaçao {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:auto;
    align-items: center;
}
.publi {
    width: 95%;
    
}
.publi > h1 {
    color: var(--cor1);
    font-size: 1.5em;
}
.publi > ul {
    color: var(--cor2);
    text-align: left;
    line-height: 2em;
    font-size: .8em;
    padding-left: 20%;
    width: 75%;
}

/*
        Segue PRODUTOS
*/

.produto {
    margin-bottom: 40px;
}

.empresa > h1 {
    color: var(--cor1);
}
.produto > h1 {
    padding: 15px 0px;
    background-color: var(--cor1);
    font-size: 1.4em;
}
#p1 > img {
    width: 90%;
    margin: auto;
}
.produto > h2 {
    font-weight: lighter;
    color:var(--cor1);
    font-size: 1em;
}

.infotecp {
    text-align: left;
    border-left: 2px solid var(--cor1);
    color: var(--cor2);
    font-style: italic;
    line-height: 25px;
    width:70%;
    margin: auto;
    font-size: .8em;
}
#p2 > img {
    width: 100%;
}
#p3 > img {
    width: 95%;
}
#p4 > img {
    width: 90%;
}

/* 
        Segue SERVIÇO
*/

#serviço {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--cor1);
}
#serviço  h1 {
    font-size: 1.2em;
    font-weight: normal;
    width: 90%;
}
#serviço > p {
    width: 80%;
    font-size: .8em;
}

/*
        Segue CONTATO
*/

#contato > h2 {
    color: var(--cor1);
}
#contato > p {
    color: var(--cor2);
    width: 90%;
    margin: auto;
    font-size: smaller;
}
#cmd2 {
    font-size: .9em;
    width: 225px;
}
#cmd2 i {
    padding: 0px 8px 0px 12px;
}

    /* 
            FORMULÁRIO
    */

form {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1.2em;
    padding-bottom: 2em;
    background-color: var(--cor1);
}

form p {
     width: 80%;
     margin: auto;
     margin-bottom: 1em;
}

input {
    border: none;    
    border-radius: 3px;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 15.6em;
    min-height: 10.6em;;
    height: 10.6em;
    border: none;

    border-radius: 5px;
    padding-left:.5em;
    padding-top: 1em;
}
form div{
    width: 80%;
    margin:auto
}
form button {
    width: 150px;
    background-color: #27ca2c;
    padding: .7em 1.5em;
    border-radius: .2em;
    border: none;
    box-shadow: 1px 1px 3px #383838;
    outline: none;
    cursor: pointer;
    color:#ffffff
}
#limp {
    margin-top: 1em;
    background-color: #d6d6d6;
}

#cmd3 {
    margin: auto;
}

#clique3 {
    margin-bottom: 5px;
}

#contato img {
    position: relative;
    right: 38%;
    margin: 10px 10px -4px 10px;
    width: 20%;
    
}

/* 
        RODAPÉ
*/

footer {
    display: flex;
    background-color: var(--cor1);
    max-width: 1200px;
    max-height: 150px;
    height: 50px;
}

footer img {
    position: relative;
    width: 25%;
    padding: 10px;
}

footer h1 {
    font-size: 6pt;
    margin: auto;
    opacity: 50%;
    font-weight: lighter;
}

#redesf {
    margin: auto;
}
#redesf a {
    font-size:x-small;
    margin: 5px;
}

@media (min-width: 425px) {
   .publi > ul {
    padding-left: 25%;
   }

   .produto h2 {
    font-size: 1.3em;
   }
   .infotecp {
    width: 65%;
   }
}
